:root{
    --gradiente-fundo: linear-gradient(135deg,#8afca2 0%, #ffffff 100%);
    --fundo-cartao: #fbfde9;
    --cor-texto: hsl(218, 23%, 23%);
    --cor-primaria: #6c5ce7;
    --cor-primaria-destque: #5b4bc4;
    --cor-borda: #8e96a5;
    --cor-perigo: #ff7675;
    --cor-concluido: #a0aec0;
    --cor-correto: #43963b;
    --cor-lua: #617496;
}
body.modo-escuro{
    --gradiente-fundo: linear-gradient(135deg, #482d48 0%, #232427 100%);
    --fundo-cartao: #1a202c;
    --cor-texto: #f7fafc;
    --cor-borda-escuro: #4a5568; 
}
body.modo-escuro .item-tarefa{
    background: #4a5568;
}
body.modo-escuro .botao-principal{
    background: #665f9b;
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.3s, color 0.3s;
}
body{
    background: var(--gradiente-fundo);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cartao-aplicacao{
    background: var(--fundo-cartao);
    color: var(--cor-texto);
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}
.cabecalho-aplicacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.cabecalho-aplicacao h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.botao-icone{
    background: transparent;
    border:none;
    font-size: 1.2rem;
    color: var(--cor-texto);
    cursor: pointer;
}
.botao-icone:hover{
    color: var(--cor-lua);    
}
.caixa-entrada{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input[type="text"]{
    flex: 1;
    padding: 12px 15px;
    border: 2px solid var(--cor-borda);
    border-radius: 12px;
    outline:none;
    font-size: 0.95rem;
    background: transparent;
    color: var(--cor-texto);
}
input[type="text"]:focus{
    border-color:var(--cor-primaria);
}
.botao-principal{
    background: var(--cor-primaria);
    color:white;
    border:none;
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
}
.botao-principal:hover{
    background-color: #473d96;
    box-shadow: 0 0 15px #3820ee;
    transform: scale(1.05);
}
.botao-principal:hover{
    background: var(--cor-primaria-destque);
    transform: translateY(-2px);
}
.lista-tarefas{
    list-style: none;
    max-height: 280px;
    overflow-y: auto;
}
.item-tarefa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: #c6c3db;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: aparecer 0.3s ease;
}
.item-tarefa.concluida span{
    text-decoration: line-through;
    color: var(--cor-concluido)
}
.acoes-tarefa{
    display: flex;
    gap: 8px;
}
.botao-acao{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--cor-texto)
}
.botao-acao:hover{
    color: var(--cor-correto);
}
.botao-acao.excluir:hover{
    color: var(--cor-perigo);
}
.rodape-aplicacao{
    margin-top: 15px;
    font-size: 0.85rem;
    color: var(--cor-concluido);
    text-align: center;
}
@keyframes aparecer{
    from{opacity: 0; transform:translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}
footer {
  background: #2c3e50;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px 20px;

  /* ISSO COLOCA DO LADO */
  display: flex;
  align-items: center;
  justify-content: center; /* centraliza tudo */
  gap: 12px;
}

footer h4 {
  margin: 0;
  font-weight: normal;
  font-size: 0.9rem;
}

footer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6c5ce7;
}